.mphb_sc_booking_form-wrapper.is-style-horizontal-form .mphb-booking-form,
.mphb_sc_search-wrapper.is-style-horizontal-form .mphb_sc_search-form,
.mphb_widget_search-form.is-style-horizontal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .mphb_sc_booking_form-wrapper.is-style-horizontal-form .mphb-booking-form,
  .mphb_sc_search-wrapper.is-style-horizontal-form .mphb_sc_search-form,
  .mphb_widget_search-form.is-style-horizontal-form {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 0 -10px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.mphb_sc_booking_form-wrapper.is-style-horizontal-form .mphb-booking-form > p,
.mphb_sc_search-wrapper.is-style-horizontal-form .mphb_sc_search-form > p,
.mphb_widget_search-form.is-style-horizontal-form > p {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  padding: 0;
}

@media (min-width: 768px) {
  .mphb_sc_booking_form-wrapper.is-style-horizontal-form .mphb-booking-form > p,
  .mphb_sc_search-wrapper.is-style-horizontal-form .mphb_sc_search-form > p,
  .mphb_widget_search-form.is-style-horizontal-form > p {
    padding: 0 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: auto;
  }
}

.mphb_sc_booking_form-wrapper.is-style-horizontal-form .mphb-booking-form > p input,
.mphb_sc_booking_form-wrapper.is-style-horizontal-form .mphb-booking-form > p select,
.mphb_sc_search-wrapper.is-style-horizontal-form .mphb_sc_search-form > p input,
.mphb_sc_search-wrapper.is-style-horizontal-form .mphb_sc_search-form > p select,
.mphb_widget_search-form.is-style-horizontal-form > p input,
.mphb_widget_search-form.is-style-horizontal-form > p select {
  width: 100%;
  margin: 0;
  display: block;
}

.mphb_sc_booking_form-wrapper.is-style-horizontal-form .mphb-booking-form .mphb_sc_search-submit-button-wrapper,
.mphb_sc_search-wrapper.is-style-horizontal-form .mphb_sc_search-form .mphb_sc_search-submit-button-wrapper,
.mphb_widget_search-form.is-style-horizontal-form .mphb_sc_search-submit-button-wrapper {
  margin-top: 0;
}

.mphb_sc_booking_form-wrapper.is-style-horizontal-form .mphb-booking-form .mphb-required-fields-tip,
.mphb_sc_search-wrapper.is-style-horizontal-form .mphb_sc_search-form .mphb-required-fields-tip,
.mphb_widget_search-form.is-style-horizontal-form .mphb-required-fields-tip {
  display: none;
}

.mphb_sc_booking_form-wrapper.is-style-horizontal-form .mphb-booking-form .button,
.mphb_sc_search-wrapper.is-style-horizontal-form .mphb_sc_search-form .button,
.mphb_widget_search-form.is-style-horizontal-form .button {
  margin: 0;
}

@media (min-width: 768px) {
  .mphb_sc_search-wrapper.hbs-wrap .mphb_sc_search-form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .mphb_sc_search-wrapper.hbs-fw-20 .mphb_sc_search-form > p {
    width: 100%;
    max-width: 20%;
  }
}

@media (min-width: 768px) {
  .mphb_sc_search-wrapper.hbs-fw-25 .mphb_sc_search-form > p {
    width: 100%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .mphb_sc_search-wrapper.hbs-fw-33 .mphb_sc_search-form > p {
    width: 100%;
    max-width: 33.33%;
  }
}

@media (min-width: 768px) {
  .mphb_sc_search-wrapper.hbs-fw-50 .mphb_sc_search-form > p {
    width: 100%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .mphb_sc_search-wrapper.hbs-fw-100 .mphb_sc_search-form > p {
    width: 100%;
    max-width: 100%;
  }
}

.mphb_sc_search-wrapper.hbs-fluid-button .mphb_sc_search-form .mphb_sc_search-submit-button-wrapper {
  max-width: 100%;
  width: auto;
}

.mphb_sc_search-wrapper.hbs-fluid-button .mphb_sc_search-form .mphb_sc_search-submit-button-wrapper .button {
  width: 100%;
}

.mphb_sc_booking_form-wrapper.is-style-horizontal-form.is-direct-booking .mphb-booking-form {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mphb_sc_booking_form-wrapper.is-style-horizontal-form.is-direct-booking .mphb-booking-form > *.mphb-reserve-room-section {
  width: 100%;
}

@media (min-width: 768px) {
  .mphb_sc_booking_form-wrapper.is-style-horizontal-form.is-direct-booking .mphb-reserve-room-section,
  .mphb_sc_booking_form-wrapper.is-style-horizontal-form.is-direct-booking .mphb-errors-wrapper {
    padding: 0 10px;
  }
}

.mphb_sc_booking_form-wrapper.is-style-horizontal-form.is-direct-booking .mphb-reserve-btn-wrapper {
  position: relative;
}

@media (min-width: 768px) {
  .mphb_sc_booking_form-wrapper.is-style-horizontal-form.is-direct-booking .mphb-reserve-btn-wrapper .mphb-preloader {
    position: absolute;
    left: 50%;
    top: 105%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.mphb_sc_booking_form-wrapper.is-style-horizontal-form.is-direct-booking .mphb-reserve-btn-wrapper .button {
  white-space: normal;
}

.mphb_sc_booking_form-wrapper.hbs-hide-rf-tip .mphb-required-fields-tip,
.mphb_sc_search-wrapper.hbs-hide-rf-tip .mphb-required-fields-tip {
  display: none;
}

.mphb_sc_booking_form-wrapper.hbs-hide-labels br,
.mphb_sc_booking_form-wrapper.hbs-hide-labels label,
.mphb_sc_search-wrapper.hbs-hide-labels br,
.mphb_sc_search-wrapper.hbs-hide-labels label {
  display: none;
}

.mphb_sc_booking_form-wrapper.hbs-no-paddings .mphb_sc_search-form,
.mphb_sc_search-wrapper.hbs-no-paddings .mphb_sc_search-form {
  margin: 0;
}

.mphb_sc_booking_form-wrapper.hbs-no-paddings .mphb_sc_search-form > p,
.mphb_sc_search-wrapper.hbs-no-paddings .mphb_sc_search-form > p {
  padding: 0;
}

@media (min-width: 768px) {
  .mphb_widget_search-form.hbs-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .mphb_widget_search-form.hbs-fw-20 > p {
    width: 100%;
    max-width: 20%;
  }
}

@media (min-width: 768px) {
  .mphb_widget_search-form.hbs-fw-25 > p {
    width: 100%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .mphb_widget_search-form.hbs-fw-33 > p {
    width: 100%;
    max-width: 33.33%;
  }
}

@media (min-width: 768px) {
  .mphb_widget_search-form.hbs-fw-50 > p {
    width: 100%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .mphb_widget_search-form.hbs-fw-100 > p {
    width: 100%;
    max-width: 100%;
  }
}

.mphb_widget_search-form.hbs-fluid-button .mphb_widget_search-submit-button-wrapper {
  max-width: 100%;
  width: auto;
}

.mphb_widget_search-form.hbs-fluid-button .mphb_widget_search-submit-button-wrapper .button {
  width: 100%;
}
